.home {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url('../../images/home/background1200.jpg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  padding: $padding-left-right;
  filter: blur(0);
  transition: filter 400ms ease-in-out;
}
}
