.navbar {
  position: fixed;
  z-index: 999;
  padding: 2.5vh 0;
  width: 100vw;
  transition: background 1200ms ease-in-out, padding 100ms;
}

.navbar__background-js {
  background: #2c2119;
  transition: background 250ms ease-in-out;
}

.navbar__scrolled-js {
  padding: 1vw 0;
  background: #2c2119;
  transition: none;
}

.navbar__logo-link {
  display: inline-block;
  margin-left: 1rem;
}

.navbar__logo {
  width: 80%;
  height: auto;
}

.navbar__logo--scrolled-js {
  width: 50%;
}

.navbar__list {
  position: absolute;
  top: 100%;
  list-style: none;
  text-align: center;
  width: 100vw;
  height: 100vh;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out, background 400ms ease-in-out;
}

.navbar__toggle:checked ~ .navbar__list {
  transform: scale(1, 1);
}

.navbar__item-1 {
  background: #5e4736;
}

.navbar__item-2 {
  background: #6b513d;
}

.navbar__item-3 {
  background: #775a44;
}

.navbar__item-4 {
  background: #84634c;
}

.navbar__link {
  // background: linear-gradient(to right, #d7945d 0%, #9b6338 100%);
  // background-clip: text;
  // -webkit-text-fill-color: transparent;
  display: inline-block;
  position: relative;
  opacity: 0;
  color: #fff;
  transition: opacity 150ms ease-in-out;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 12vh;
}

.navbar__toggle {
  display: none;
}

.navbar__toggle:checked ~ .navbar__list .navbar__link {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.navbar__hamburger {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  outline: none;
}
