.navbar {
  position: fixed;
  z-index: 999;
  padding: 0.45rem 0;
  width: 100vw;
  background: $background-nav;
}

.navbar__logo-link {
  margin-left: 1rem;
}

.navbar__list {
  position: absolute;
  top: 100%;
  list-style: none;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: $background-nav;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.navbar__toggle:checked ~ .navbar__list {
  transform: scale(1, 1);
}

.navbar__link {
  // background: linear-gradient(to right, #d7945d 0%, #9b6338 100%);
  // background-clip: text;
  // -webkit-text-fill-color: transparent;
  display: inline-block;
  position: relative;
  opacity: 0;
  color: #fff;
  transition: opacity 150ms ease-in-out;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 12vh;
}

.navbar__toggle {
  display: none;
}

.navbar__toggle:checked ~ .navbar__list .navbar__link {
  opacity: 1;
  transition: opacity 2250ms ease-in-out 250ms;
}

.navbar__hamburger {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  outline: none;
}
