.about {
  min-height: 100vh;
  padding: 1rem;
  position: relative;
  background: #fff;
  @include respond-to(medium) {
    min-height: auto;
  }
  @include respond-to(large) {
    height: 100vh;
    display: grid;
    cursor: grab;
    grid-template-columns: repeat(2, minmax(0, 600px));
    grid-column-gap: 100px;
    justify-content: center;
    align-content: center;
    z-index: 9999;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      border-bottom: 15vw solid #453823;
      border-left: 15vw solid transparent;
    }
  }
}

.about__paragraph {
  color: #000;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.about__spirit-link,
.about__wood-link {
  text-decoration: underline;
}

.about__insta-link {
  display: inline-block;
  font-size: 0;
  margin-left: 5px;
}

.about__insta-icon {
  font-size: 1.6rem;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  color: transparent;
  background-clip: text;
}
