.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  padding-top: 2rem;
  background: #fff;
  position: relative;
}

.contact__social {
  display: flex;
  margin: 1rem;
}

.contact__link {
  height: 2.6rem;
  width: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__link--fb {
  margin-right: 2rem;
}

.contact__link--insta {
  margin-left: 2rem;
}

.contact__icon {
  font-size: 2rem;
}

.contact__icon--fb {
  color: $color-fb;
}

.contact__icon--gmail {
  color: #c71610;
}

.contact__icon--insta {
  background: $color-insta;
  color: transparent;
  background-clip: text;
}

.contact__copyright {
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
}
