.gallery {
  padding: 2rem 0.5rem;
  position: relative;
  @include respond-to(x-large) {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
  }
}

.siema div {
  display: flex;
  align-items: center;
  cursor: grab;
}

.gallery__image-wrapper {
  max-width: 1200px;
  max-height: 100%;
  margin: 0 1rem;
}

.gallery__image {
  max-width: 100%;
  height: auto;
}

.gallery__btns {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.gallery__btn {
  background: transparent;
  border: 1px solid #000;
  cursor: pointer;
  font-family: inherit;
  padding: 0.7rem;
}

.gallery__icon {
  font-size: 1.2rem;
  animation: slide 1s infinite;
}

@keyframes slide {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: 40px;
  }
}
