.gallery {
  padding: 2rem 0.5rem;
  position: relative;
}

.siema div {
  display: flex;
  align-items: center;
  cursor: grab;
}

.gallery__image-wrapper {
  max-width: 1200px;
  max-height: 100%;
  margin: 0 1rem;
}

.gallery__image {
  max-width: 100%;
  height: auto;
}

.gallery__btns {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.gallery__btn {
  background: transparent;
  border: 1px solid #000;
  cursor: pointer;
  font-family: inherit;
  padding: 0.5rem;
}

.gallery__icon {
  font-size: 1.2rem;
  display: block;
  text-align: center;
}
