.home {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 60%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url('../img/home/background840.jpg') center/cover no-repeat fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $padding-left-right;
  position: relative;
  overflow: hidden;
  @include respond-to(large) {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.9) 60%,
        rgba(0, 0, 0, 0.9) 100%
      ),
      url('../img/home/background1200.jpg') center/cover no-repeat fixed;
  }
}

.home__heading {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.home__shop-link {
  text-decoration: underline;
}

.home__link {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 50%;
  position: fixed;
  bottom: 0.7rem;
  right: 0.7rem;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 999;
}

.home__link--js-flex {
  display: flex;
}

.home__arrow-up {
  font-size: 2rem;
}
